@model IEnumerable<EventPlaning.Models.UserEvent>
@using Microsoft.AspNetCore.Identity;
@using EventPlaning.Models.Users;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Домашняя страница";
}

@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Добавить новое событие</a>
    </p>
}
    <table class="table">
        <thead>
            <tr>
                <th>
                    Тема митапа
                </th>
                <th>
                    Описание
                </th>
                <th>
                    Дата и время
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                @if (SignInManager.IsSignedIn(User))
                {

                    <td>
                        <a asp-action="GoToEvent" asp-route-id="@item.Id">Записаться на мероприятие</a>
                    </td>
                }
                </tr>
            }
        </tbody>
    </table>
